header {
	background-image: url("../img/road.jpeg");
}
header .header-content .header-content-inner h1 {
	font-family: Georgia;
	color: blanchedalmond;
}
header .header-content .header-content-inner p {
    font-weight: 300;
    color: blanchedalmond;
    font-size: 16px;
    margin-bottom: 50px;
    font-family: 'Titillium Web', sans-serif;
}

.section-heading {
    font-family: Georgia;
    color: blanchedalmond;

}
.section-heading2 {
	font-family: Georgia;
    color: blanchedalmond;
}

.text-faded {
    color: blanchedalmond;
    font-family: 'Titillium Web', sans-serif;
}
	
.btn-primary {
	background-color: #5F9EA0;
	color: blanchedalmond;

}
.row {
	background-color: #5F9EA0;
}
.bg-primary {
	background-color: #5F9EA0;
}
#services {
background-color: white;
}
.section-heading {
	font-family: Georgia;
	color: blanchedalmond;
}

.text-primary {
color: blanchedalmond;
}

@media (min-width: 768px) {
.navbar-default.affix .navbar-header .navbar-brand {
    color: #5F9EA0;
   }

 .navbar-default .nav>li.active>a, .navbar-default .nav>li.active>a:focus {
    color: #5F9EA0!important;
    background-color: transparent;